














* {
    margin: 0;
    padding: 0;
}

header {
  height: 600px;
  position: relative;
  overflow: hidden;

}

img {
  position: absolute;
  width: 100%;
}

h1 {
  position:absolute;
  font-size: 60px;
  background-color: rgba (0, 0, 0, 0.8);
  font-family:'open sans', sans-serif;
  color: white;
  padding: 10px 40px;
}